site_name: Solid-state physics
site_url: https://andy-utas.github.io/

nav:
    - Home: index.md
    - Course particulars: particulars.md
    - '1: An introduction to solid-state physics':
      - '1.1: The specific heat of solids I': 1-intoduction/1-1-specificheatI.md
      - '1.2: The specific heat of solids II': 1-intoduction/1-2-specificheatII.md
      - '1.3: Electrons in metals I': 1-intoduction/1-3-emetalsI.md
      - '1.4: Electrons in metals II': 1-intoduction/1-4-emetalsII.md
    - '2: Chemistry 101': 2-chemistry/2-1-chemistry.md
    - '3: One-dimensional solids':
      - '3.1: Vibrations': 3-1d/3-1-vibrations.md
      - '3.2: The diatomic chain': 3-1d/3-2-diatomic.md
      - '3.3: The tight binding model': 3-1d/3-3-tightbinding.md
    - '4: Crystallography':
      - 'Crystals': 4-crystal/4-1-realspace.md
      - 'Crystals in reciprocal space': 4-crystal/4-2-kspace.md
      - 'Diffraction': 4-crystal/4-3-diffraction.md
    - '5: Electrons in solids':
      - 'Bloch theorem': placeholder.md
      - 'Band structure': placeholder.md
    - '6: Semiconductors':
      - 'Semiconductors 101': placeholder.md
      - 'Doping and devices': placeholder.md
    - '7: Magnetism':
      - 'Empty content': placeholder.md
    - '8: Cool stuff':
      - 'Topological insulators': placeholder.md
      - 'Superconductors': placeholder.md
      - 'Quantum simulators': placeholder.md
    - Additional resources: additional.md

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      accent: orange
      primary: red
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      accent: orange
      primary: red
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  logo: logo.png
  favicon: logo.png
  features:
  #  - navigation.expand
    - navigation.top
  highlightjs: True
  # custom_dir: overrides # Initially here for banner usage, but this was not very good

plugins:
  - mkdocs-video
  - search

markdown_extensions:
  - mdx_math:
      enable_dollar_delimiter: True
  - toc:
      permalink: True
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.tabbed # Enabeles content tabs
  - pymdownx.superfences # Enables nesting of code and content in tabs
  - pymdownx.snippets # Allows for a global list of acronyms
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.extra
  - abbr
  - footnotes
  - meta

extra_css:
  - 'https://use.fontawesome.com/releases/v5.8.1/css/all.css'
#  - scripts/custom.css
  - stylesheets/extra.css

extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS_HTML'
  - 'https://unpkg.com/thebelab@0.5.0/lib/index.js'
  - 'scripts/mathjaxhelper.js'
  - 'scripts/thebelabhelper.js'
  - 'scripts/x3dom.js'

copyright: Content prepared and curated by <a href="mailto:andrew.mcculloch@utas.edu.au">A J McCulloch</a>
